* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html{scroll-behavior:smooth;}

body {
	background:#222;
	font-family:'Jetbrains Mono';
}

#nav_container {
	background:rgba(0,0,0,0.9);
	height:10vh;
	width:100vw;
	position:fixed;
	z-index:999;
}
#nav_container ul {
	height:10vh;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-evenly;
	align-items:center;
}
.nav_items {
	list-style:none;
}
.nav_items a {
	color:white;
	text-decoration:none;
	font-weight:bold;
	font-size:25px;
	transition:0.6s;
}
.nav_items a:hover {
	text-shadow:1px 1px 5px white;
	transition:0.6s;
}

/*STYLES LANDING,ABOUT,SKILLS AND PROJECTS CONTAINER*/

#about_container,#skills_container,#projects_container,#landing_container {
	height:100vh;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	/* background:rgba(0,0,0,0.6); */
}

.title_container{
	color:white;
	font-weight:bold;
	text-shadow:1px 2px 5px white;
	font-size: 70px;
}

/*SKILLS*/
.container_skills {
	padding:10px;
	width:90vw;
	height: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	opacity:0;
	transform: scale(0);
	transition:0.4s;
}
.skills_table {
	width:80vw;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.skills_item:nth-child(1){
	filter:drop-shadow(3px 5px 10px #ff5722);
}
.skills_item:nth-child(2){
	filter:drop-shadow(3px 5px 10px #2196f3);
}
.skills_item:nth-child(3){
	filter:drop-shadow(3px 5px 10px #f7df1e);
}
.skills_item:nth-child(4){
	filter:drop-shadow(3px 5px 10px #777bb3);
}
.skills_item:nth-child(5){
	filter:drop-shadow(3px 5px 10px white);
}
.skills_item:nth-child(6){
	filter:drop-shadow(3px 5px 10px #de4c36);
}

/*PROJECTS*/
.projects_container {
	opacity: 0;
	transform: scale(0);
	transition: 0.4s;
}

.projects_container_items {
	width: 100vw;
	height:50vh;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow:row wrap;
}
.projects_item {
	width:80%;
	height:auto;
	text-align: center;
	color:white;
	display:flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 25px;
}
.img_item {
	width:50%;
	height: 80%;
	border-radius:8px;
	filter:drop-shadow(3px 5px 15px gray);
}
.description_project {
	width:30%;
}
.active {
	opacity:1;
	transform: scale(1);
	transition:0.4s;
}